<div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <p class="text-center">
                    <a href="{{ path('app_cgu') }}">CGU</a>
                </p>
            </div>
        </div>
    </div>
