{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
<div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <p class="text-center">
                    Ce site a été créé dans le cadre d'une évaluation scolaire.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

